@import "./_variabels";
@import "./reset.scss";
@import "./mixins/main.scss";

.brand {
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
  position: relative;
  width: 128px;
  height: 32px;

  img {
    object-fit: cover;
  }
}

.btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @for $gapSize from 1 through 12 {
    &.gap-#{$gapSize} {
      gap: $flex-gap * $gapSize;
    }

    &.gap-x-#{$gapSize} {
      gap: 0 $flex-gap * $gapSize;
    }

    &.gap-y-#{$gapSize} {
      gap: $flex-gap * $gapSize 0;
    }
  }
}

.flex {
  display: flex;

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
