// @mixin: padding size
@mixin paddingSize($prepend, $size) {
  @if $prepend == "top" {
    padding-top: $size;
  } @else if $prepend == "bottom" {
    padding-bottom: $size;
  } @else if $prepend == "left" {
    padding-left: $size;
  } @else if $prepend == "right" {
    padding-right: $size;
  } @else if $prepend == "left-right" {
    padding-left: $size;
    padding-right: $size;
  } @else if $prepend == "top-bottom" {
    padding-top: $size;
    padding-bottom: $size;
  } // minus padding
  @else if $prepend == "top-minus" {
    padding-top: $size;
  } @else if $prepend == "bottom-minus" {
    padding-bottom: $size;
  } @else if $prepend == "left-minus" {
    padding-left: $size;
  } @else if $prepend == "right-minus" {
    padding-right: $size;
  } @else if $prepend == "top-bottom-minus" {
    padding-top: $size;
    padding-bottom: $size;
  } @else if $prepend == "left-right-minus" {
    padding-left: $size;
    padding-right: $size;
  } @else if $prepend == "all-minus" {
    padding: $size;
  } @else {
    padding: $size;
  }
}

// @mixin: margin size
@mixin marginSize($prepend, $size) {
  @if $prepend == "top" {
    margin-top: $size;
  } @else if $prepend == "bottom" {
    margin-bottom: $size;
  } @else if $prepend == "left" {
    margin-left: $size;
  } @else if $prepend == "right" {
    margin-right: $size;
  } @else if $prepend == "left-right" {
    margin-left: $size;
    margin-right: $size;
  } @else if $prepend == "top-bottom" {
    margin-top: $size;
    margin-bottom: $size;
  }
  // minus margin
  @else if $prepend == "top-minus" {
    margin-top: $size;
  } @else if $prepend == "bottom-minus" {
    margin-bottom: $size;
  } @else if $prepend == "left-minus" {
    margin-left: $size;
  } @else if $prepend == "right-minus" {
    margin-right: $size;
  } @else if $prepend == "top-bottom-minus" {
    margin-top: $size;
    margin-bottom: $size;
  } @else if $prepend == "left-right-minus" {
    margin-left: $size;
    margin-right: $size;
  } @else if $prepend == "all-minus" {
    margin: $size;
  } @else {
    margin: $size;
  }
}
