<style>
  body {
    background-color: #eee;
  }
  /* sign in FORM */
  #logreg-forms {
    width: 412px;
    margin: 15vh auto;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    border-radius: 5px;
  }
  #logreg-forms form {
    width: 100%;
    max-width: 410px;
    padding: 15px;
    margin: auto;
  }
  #logreg-forms .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  #logreg-forms .form-control:focus {
    z-index: 2;
  }
  #logreg-forms .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  #logreg-forms .form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  #logreg-forms .social-login {
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
  }
  #logreg-forms .social-btn {
    font-weight: 100;
    color: white;
    width: 190px;
    font-size: 0.9rem;
  }

  #logreg-forms a {
    display: block;
    padding-top: 10px;
    color: lightseagreen;
  }

  #logreg-form .lines {
    width: 200px;
    border: 1px solid red;
  }

  #logreg-forms button[type="submit"] {
    margin-top: 10px;
  }

  #logreg-forms .facebook-btn {
    background-color: #3c589c;
  }

  #logreg-forms .google-btn {
    background-color: #df4b3b;
  }

  #logreg-forms .form-reset {
    display: none;
  }

  #logreg-forms .form-signup .social-btn {
    width: 210px;
  }

  #logreg-forms .form-signup input {
    margin-bottom: 2px;
  }

  .form-signup .social-login {
    width: 210px !important;
    margin: 0 auto;
  }

  /* Mobile */

  @media screen and (max-width: 500px) {
    #logreg-forms {
      width: 300px;
    }

    #logreg-forms .social-login {
      width: 200px;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    #logreg-forms .social-btn {
      font-size: 1.3rem;
      font-weight: 100;
      color: white;
      width: 200px;
      height: 56px;
    }
    #logreg-forms .social-btn:nth-child(1) {
      margin-bottom: 5px;
    }
    #logreg-forms .social-btn span {
      display: none;
    }
    #logreg-forms .facebook-btn:after {
      content: "Facebook";
    }

    #logreg-forms .google-btn:after {
      content: "Google+";
    }
  }
</style>

<div id="logreg-forms" class="p-4">
  <div class="login alert collapse"></div>
  <form class="form-signin" method="POST">
    <h1 class="h3 mb-3 font-weight-normal text-secondary" style="text-align: center">Welcome to admin</h1>
    <input
      type="email"
      id="emailLogin"
      name="email"
      class="form-control"
      placeholder="Email address"
      required=""
      autofocus=""
    />
    <input type="password" id="passwordLogin" name="password" class="form-control" placeholder="Password" required="" />

    <button type="button" id="btn-login" class="btn btn-success btn-block">
      <i class="fas fa-sign-in-alt"></i> Sign in
    </button>
    <a href="#" id="forgot_pswd">Forgot password?</a>
    <hr />
    <!-- <p>Don't have an account!</p>  -->
    <button class="btn btn-primary btn-block" type="button" id="btn-signup">
      <i class="fas fa-user-plus"></i> Sign up New Account
    </button>
  </form>

  <form action="/reset/password/" class="form-reset">
    <input type="email" id="resetEmail" class="form-control" placeholder="Email address" required="" autofocus="" />
    <button class="btn btn-primary btn-block" type="submit">Reset Password</button>
    <a href="#" id="cancel_reset"><i class="fas fa-angle-left"></i> Back</a>
  </form>

  <form action="/signup/" class="form-signup collapse">
    <h1 class="font-weight-normal text-secondary mb-3">Free registration</h1>

    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      placeholder="Full name"
      required=""
      autofocus=""
    />
    <input
      type="email"
      id="email"
      name="email"
      class="form-control"
      placeholder="Email address"
      required
      autofocus=""
    />
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      placeholder="Password"
      required
      autofocus=""
    />
    <input
      type="password"
      id="passwordVerify"
      name="passwordVerify"
      class="form-control"
      placeholder="Repeat Password"
      required
      autofocus=""
    />

    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
    <button type="button" id="cancel_signup" class="btn btn-default p-0 my-3">
      <i class="fas fa-angle-left"></i> Back
    </button>
  </form>
  <br />
</div>

<script>
  document.title = "Welcome to admin";
  const btnSignUp = document.getElementById("btn-signup");
  const btnCancelSignUp = document.getElementById("cancel_signup");
  const btnLogin = document.getElementById("btn-login");
  const alert = document.querySelector(".login.alert");

  btnSignUp.onclick = function () {
    document.querySelector("#logreg-forms .form-signin").classList.add("collapse");
    document.querySelector("#logreg-forms .form-signup").classList.remove("collapse");
  };

  btnCancelSignUp.onclick = function () {
    document.querySelector("#logreg-forms .form-signin").classList.remove("collapse");
    document.querySelector("#logreg-forms .form-signup").classList.add("collapse");
  };

  btnLogin.onclick = function (e) {
    const { emailLogin, passwordLogin } = this.parentElement;
    const email = emailLogin.value;
    const password = passwordLogin.value;

    if (password == "admin") {
      location.href = "./admin/dashboard";
    } else {
      alert.classList.add("alert-warning");
      alert.classList.remove("collapse");
      alert.innerHTML = "Password wrong!";
    }

    e.preventDefault();
  };
</script>
